<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebars</title>
</head>
<body>
    <header>
        <h1>Meu website</h1>
        <nav>
            <a href="/novo">Cadastrar</a>
            <a href="/usuario/:id">Usuário</a>
            <a href="/">Voltar ao Início</a>
        </nav>
    </header>
    {{{body}}}
</body>
</html>